.navbar {
    display: flex;
    padding: 6px 50px;
    justify-content: space-between;
    background: #17181f;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signup button {
    padding: 10px 25px;
    border: 2px solid #05a0a0;
    background: #17181f;
    background: linear-gradient(45deg, #17181f 15%, #05a0a0 65%) !important;;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h3 {
    font-size: 15px;
    color: #fff;

}